@charset "UTF-8";

.container{
	width: 99%;
/* 	background: linear-gradient(-45deg, rgb(45 45 45 / 80%), rgb(0 0 0 / 100%)) fixed, url(/nicm_eclipse/workspace/gitRepository/WebProject/resource/img/wood.jpg) fixed; */
	background: linear-gradient(-45deg, rgb(45 45 45 / 80%), rgb(0 0 0 / 100%)) fixed, url(/gitRepository/resource/img/wood.jpg) fixed;
  	background-size: cover;
}

nav ul li{
	display:inline-block;
	margin-left :100px;
	margin-bottom : 10px;
	
}
nav ul li a {
	color:#fff;
	font-size: 1em;
	text-decoration: none;
}

nav ul li a:hover {
	cursor:point;
	color: #649ac9;
    transition: color 0.6s;
}

.logo-img{
	width:140px;
	height:35px;
	float:left;
	margin-left:30px;
	padding-top:12px;
}

.nav-group{
	margin-left:250px;
	padding-top:3px;
}