@charset "UTF-8";

.container{
	width: 99%;
/* 	background: linear-gradient(-45deg, rgb(45 45 45 / 80%), rgb(0 0 0 / 100%)) fixed, url(/nicm_eclipse/workspace/gitRepository/WebProject/resource/img/wood.jpg) fixed; */
	background: linear-gradient(-45deg, rgb(45 45 45 / 80%), rgb(0 0 0 / 100%)) fixed, url(/gitRepository/resource/img/wood.jpg) fixed;
  	background-size: cover;
}

nav ul li{
	display:inline-block;
	margin-left :100px;
	margin-bottom : 10px;
	
}
nav ul li a {
	color:#fff;
	font-size: 1em;
	text-decoration: none;
}

nav ul li a:hover {
	cursor:pointer;
	color: #649ac9;
    transition: color 0.6s;
}

.logo-img{
	width:140px;
	height:35px;
	float:left;
	margin-left:30px;
	padding-top:12px;
}

.nav-group{
	margin-left:250px;
	padding-top:3px;
}

.egg{
	width:30px;
	height:30px;
	float:right;
}
.egg:hover{
	cursor:pointer;
}


.tempNav{
	border: 1px solid #595959;
    float: right;
    width: 250px;
    height: auto;
    background: #cbcbcb;
}
.tempNav-list{
	background-color:#fff;
}	
.tempNav ul{
	background: #cbcbcb;
}
.tempNav li{
	margin-top:10px;
	background: #cbcbcb;
}

.tempNav li a{
	color:#fff;
	font-size: 1em;
	text-decoration: none;
}

.tempNav-title{
    height: 23px;
    border-bottom: 1px solid #0a0a0a;
    text-align: center;
    font-size: larger;
    color: #cfc3c3;
    background-color: #1c1e21;
}

@font-face {
    font-family: 'omyu_pretty';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-01@1.0/omyu_pretty.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

body {
	font-family: "omyu_pretty", serif 
}

.tempNav-End{
	float:right;
	margin-right:7px;
}
.tempNav-End:hover{
	cursor:pointer;	
}

.aboutme-img-1{
	height: 49%;
	width:23%;
	position: absolute;
	top: 190px;
	left: 21%;
/* 	background: url(/nicm_eclipse/workspace/gitRepository/WebProject/resource/img/unboxing.jpg) no-repeat; */
	background: url(/gitRepository/resource/img/unboxing.jpg) no-repeat;
}

.contact-img-1{
	margin: 25px;
	height:385px;
/* 	background: url(/nicm_eclipse/workspace/gitRepository/WebProject/resource/img/contact.jpg) no-repeat; */
	background: url(/gitRepository/resource/img/contact.jpg) no-repeat;
	background-size:100% 100%;
	filter: grayscale(85%);
	opacity: 0.5;
}

.f-w-24{
	color:#fff;
	font-size: 24px;
}

.f-w-20{
	color:#fff;
	font-size: 20px;
}

.f-w-16{
	color:#fff;
	font-size: 16px;
}

.img-20{
	height:20px;
	width:20px;
}

.img-35{
	height:35px;
	width:35px;
}

.mg-5{
	margin-top:5px;
}

.contact-footer{
	margin-top:15px;
	text-align: right;
}

.contact-body{
	position: relative;
}
.contact-body label{
	position: absolute;
	left: 7%;
}
.mailing-outlook{
	color:#c6e9ef;
}
.mailing-outlook:hover{
	cursor:pointer;	
	color:#8edf95;
}

/* slider */
.slidebox {max-width:1200px;margin:0 auto;position:relative;}
.slidebox .slidelist {position:relative;white-space:nowrap;font-size:0;overflow:hidden;}
.slidebox .slidelist .slideitem {position:relative;display:inline-block;vertical-align:middle;background-color:#fff;width:100%;transition:all 1s;}
.slidebox .slidelist .slideitem > a {display:block;width:auto;height:800px;position:relative;}
.slidebox .slidelist .slideitem > a img {max-width:100%;}

.slidebox .slide-control [class*="control"] label {position:absolute;z-index:10;top:50%;transform:translateY(-50%);padding:20px;border-radius:50%;cursor:pointer;}
/* .slidebox .slide-control [class*="control"] label.prev {left:-50px;background:#333 url('/nicm_eclipse/workspace/gitRepository/WebProject/resource/img/left-arrow.png') center center / 50% no-repeat;} */
/* .slidebox .slide-control [class*="control"] label.next {right:-50px;background:#333 url('/nicm_eclipse/workspace/gitRepository/WebProject/resource/img/right-arrow.png') center center / 50% no-repeat;} */
.slidebox .slide-control [class*="control"] label.prev {left:-50px;background:#333 url('/gitRepository/resource/img/left-arrow.png') center center / 50% no-repeat;}
.slidebox .slide-control [class*="control"] label.next {right:-50px;background:#333 url('/gitRepository/resource/img/right-arrow.png') center center / 50% no-repeat;}

[name="slide"] {display:none;}
#slide01:checked ~ .slidelist .slideitem {left:0;}
#slide02:checked ~ .slidelist .slideitem {left:-100%;}
#slide03:checked ~ .slidelist .slideitem {left:-200%;}
#slide04:checked ~ .slidelist .slideitem {left:-300%;}

.slide-control [class*="control"] {display:none;}
#slide01:checked ~ .slide-control .control01 {display:block;}
#slide02:checked ~ .slide-control .control02 {display:block;}
#slide03:checked ~ .slide-control .control03 {display:block;}
#slide04:checked ~ .slide-control .control04 {display:block;}
 </style>